.board {
}

.column {
        float: left;
        background-color: #DDDDDD;
        width: 300px;
        padding: 20px;
        border: 2px solid black;
        position: relative;
        left: 90px;

}